html {
  border: 15px solid #539A9A;
}

.navbar, .dropdown-menu{
  background: #fff;
  border: none;
  font-family: 'Hind Guntur', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-collapse {
  text-align:center;
}
.navbar-nav {
    display:inline-block;
    float:none;
}

.jumbotron {
/*	background-image: url("img/header.jpg");*/
	background: #999;
/*  border-bottom: 25px solid #539A9A;*/
}

.jumbotron h1 {
	color: white;
}


.padding-20 {
	padding: 20px 0;
	margin: 20px 0;
}