{% extends 'index.html' %}

{% block content %}

<h2>Session Info</h2>
	<p>Name: {{client_details.client_name}}</p>
	<p>Date: {{client_details.date}}</p>
	<p>Location: {{client_details.location}}</p>
	<p>Event Type: {{event.name}}</p>

<h2>Pack Gear</h2>

	<form action="{% url 'tracker_app:pack_gear' event.id %}" method="post">
		{% csrf_token %}

		{% for c in camera %}
			{{c.name}}<input type="checkbox" name="camera" value="{{c.id}}" />
		{% endfor %}
		
		{% for l in lens %}
			{{l.lens_make}} {{l.min_focal_length}} - {{l.max_focal_length}} {{l.aperature}}<input type="checkbox" name="lens" value="{{l.id}}"></br>
		{% endfor %}

		<input type="submit" value="OK">
	</form>

{% endblock %}