{% extends 'index.html' %}

{% block content %}

	
<div id="" class="col-md-8 col-md-offset-3">
	<div class="input-group">
	<h1>PhotoShoot!</h1>

	<form action="{% url 'tracker_app:photoshoot' %}" method="post">
		{% csrf_token %}

		<div class="form-group">
			<label for="event">Event: </label>
			
			<select id="event_id" name="event" class="form-control">	
				{% for e in event %}
					<option value="{{e.pk}}" >{{e}}</option>
				{% endfor %}
			</select>
		</div>
		<a href="{% url 'tracker_app:event_gear' %}">Add Event</a>


		<div class="form-group">
			<label for="client_name">Client:</label>
			<input id="client_name" type="text" class="form-control" name="client_name" value="">
		</div>

		<div class="form-group">
			<label for="location">Location: </label>
			<input id="location" type="text" class="form-control" name="location" value="">
		</div>

		<div class="form-group">
			<label for="date">Date: </label>
			<input id="date" type="date" class="form-control" name="date" value="">
		</div>

		<div class="padding-20">
			<input type="submit" value="OK">
		</div>
	</form>
	</div>

	<div>
		{% for p in photoshoot %}
			<strong>{{p.gear.event.name}}</strong><br/>
			{{p.date}} - {{p.client_name}} <br/>
			{{p.location}}<br/>
			<a href="{% url 'tracker_app:pack_gear' id=p.pk %}">Start Packing</a></br></br>
		{% endfor %}
	</div>


</div>

{% endblock %}
