{% extends 'index.html' %}

{% block content %}
<div id="" class="col-md-8 col-md-offset-3">
	<div class="input-group">

<h2>Session</h2>
	<p>Name: {{client_details.client_name}}</p>
	<p>Date: {{client_details.date}}</p>
	<p>Location: {{client_details.location}}</p>
	<p>Event Type: {{event.name}}</p>


	{% if message %}
		<h2>Missing Gear</h2>

		<div class="form-group">
		{% for c in camera %}
			{{c.camera_make.name}} {{c.name}}</br>
		{% endfor %}

		{% for l in lens %}
			{{l.lens_make}} {{l.min_focal_length}}-{{l.max_focal_length}} {{l.aperature}} <br/>
		{% endfor %}
		</div> 		

		<a href="{% url 'tracker_app:list_gear' %}">view all gear</a>

	{% else %}
		<h2>Return Gear</h2>

		<form action="{% url 'tracker_app:return_gear' client_details.id %}" method="post">
		{% csrf_token %}

		<div class="form-group">
		{% for c in camera %}
			<input type="checkbox" name="camera" value="{{c.id}}"> 
			{{c.camera_make.name}} {{c.name}}</br>
		{% endfor %}

		{% for l in lens %}
			<input type="checkbox" name="lens" value="{{l.id}}"> 
			{{l.lens_make}} {{l.min_focal_length}}-{{l.max_focal_length}} {{l.aperature}} <br/>
		{% endfor %}
		</div> 		

		<input type="submit" value="OK">

		</form>

	{% endif %}

</div>
</div>

{% endblock %}