<div class="jumbotron">
	<div class="container">
		<h1>Hello, {{user.first_name}}!</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur.</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
			<h2>Events</h2>
			{% for e in event %}
				<p>{{e}}</p>
			{% endfor %}
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Camera</h2>
			{% for c in camera %}
				<p>{{c.name}}</p>
			{% endfor %}
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	 </div>
		<div class="col-md-4">
			<h2>Lens</h2>
			{% for l in lens %}
				<p>{{l.lens_make}} {{l.min_focal_length}} - {{l.max_focal_length}} {{l.aperature}}</p>
			{% endfor %}
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
	</div>		 
</div>
		