{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Gear Tracker</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'menu.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Hind+Guntur:400,700" rel="stylesheet">
</head>
<body>

	<h1 align="center">
		<a href="{% url 'tracker_app:index' %}">
		<img src="{% static 'img/logo.png' %}" width="150px"></h1>
		</a>

	{% include 'nav.html' %}

	{% block content %}

		{% include 'home.html' %}

	{% endblock%}

	{% include 'footer.html' %}

<script
  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
  crossorigin="anonymous"></script>
<script 
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
	crossorigin="anonymous"></script>
</body>
</html>