{% extends 'index.html' %}

{% block content %}
<div id="" class="col-md-8 col-md-offset-3">

	<h2>Lens</h2>
		{% for l in lens %}
			{{l.lens_make}} {{l.min_focal_length}}-{{l.max_focal_length}} {{l.aperature}}<br/>
		{% endfor %}

	<h2>Camera</h2>
		{% for c in camera %}
			{{c.name}}<br/>
		{% endfor %}


	<h2>Missing</h2>
	{# <a class="btn btn-primary" href="{% url 'url-name'%}">Button-Text</a> #}
		<form action="{% url 'tracker_app:list_gear' %}" method="post">
		{% csrf_token %}
		
		{% for l in missing_lens %}
			<input type="checkbox" name="lens" value="{{l.id}}"> 
			{{l.lens_make}} {{l.min_focal_length}}-{{l.max_focal_length}} {{l.aperature}}<br/>
		{% endfor %}
		
		{% for c in missing_camera %}
			<input type="checkbox" name="camera" value="{{c.id}}"> 
			{{c.name}}<br/>
		{% endfor %}

		<input type="submit" value="FOUND!">

		</form>




</div>

{% endblock %}

