{% extends 'index.html' %}

{% block content %}

	<h1>PhotoShoot!</h1>

	<form action="{% url 'tracker_app:photoshoot' %}" method="post">
		{% csrf_token %}

		<select id="event_id" name="event">	
			{% for e in event %}
				<option value="{{e.id}}">{{e.name}}</option>
			{% endfor %}
		</select>

		<label for="client_name">Client Name: </label>
		<input id="client_name" type="text" name="client_name" value="">

		<label for="location">Location: </label>
		<input id="location" type="text" name="location" value="">

		<label for="date">Date: </label>
		<input id="date" type="date" name="date" value="">

		<input type="submit" value="OK">

	</form>

{% endblock %}

